body, html{
  margin: 0;
  padding: 0;
}

body{
  background-color: #5e5cdb;
}

.container{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.main-panel{
  background-color: white;
  width: 80vw;
  height: 90vh;
  border-radius: 20px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #737373;
}

#modal{
  position: fixed;
  z-index: 100000;
  background-color: white;
  width: 40vw;
  height: 80vh;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  text-align: center;
  color: #737373;
  display: none;
}

#modal-overlay{
  display: none;
  z-index:  99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  rgba(0, 0, 0, .5)
}

#slide-one{

}

#slide-one img{
  width: 100%;
}

#modal button{
  background-color: white;
  border: 2px solid #5e5cdb;
  color: #5e5cdb;
  width: 6vw;
  height: 4vw;
  border-radius: 15px;
  font-size: 1.2vw;

}

.left-modal-button{
  margin-right: 3vw;
}

#right-modal-button{
  margin-left: 3vw;
}

#slide-two{
  display: none;
}

#slide-two img{
  max-height: 59.5vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#slide-three{
  display: none;
}

#slide-three img{
  width: 100%;
  margin-bottom: 3.5%;
}

#slide-four{
  display: none;
}

#slide-four img{
  width: 100%;
  margin-bottom: 7%;
}

#slide-five{
  display: none;
}

#slide-five img{
  width: 100%;
  margin-bottom: 4%;
}

#slide-five span{
  color: #3acc6c;
}

.left-sidebar{
  width: 15%;
  height: 100%;
  border-right: .2vw solid #ff6584;
}

.left-sidebar p{
  margin-left: 2vw;
  font-size: 1.5vw;
}
